@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<a class="btn btn-outline-primary" asp-controller="Blog" asp-action="Insert"> New Blog</a>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
</style>
</head>
<body>

<div class="about-section">
  <h1>About Us Page</h1>
        <h3>Welcome to Our Blog!</h3>
        <p>Our blog is a platform created by three passionate individuals fueled by diverse interests. Our goal is to share knowledge, learn, and grow together. We aim to build a community by sharing our experiences, recommendations, and interests with you.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Ruşen Burcu Çelik</h2>
                    <p class="title">Developer</p>
        
        <p>burcuclk2020@hotmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>İlker Ozan Ulus</h2>
        <p class="title">Developer</p>
        
        <p>ilkerozanulus@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Burak Özkaya</h2>
        <p class="title">Computer Engineer</p>
       
        <p>ozkayaburak97@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
