@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BlogContentDTO>

<div class="text-center">
    <h1>Blog List</h1>
    @{
        if(Model!=null){
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                @item.Title
                            </div>
                            <div class="card-body">
                                <p>@item.Content</p>
                                <p>Created Date: @item.CreatedDate.ToShortDateString()</p>
                                <h2>Category: @item.Category.CategoryName</h2>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
