@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<BlogContentDTO>

<div class="text-center">
    <h1 class="display-4">Blog Listesi</h1>
    @{
        if (Model != null && Model.Any())
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">@item.Title</h3>
                                <p class="badge badge-primary bg-info">Kategori: @item.Category.CategoryName</p>
                                <p class="card-text">@item.Content</p>
                                <p class="text-muted"><small>Oluşturulma Tarihi: @item.CreatedDate.ToString("dd MMMM yyyy")</small></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No blog posts found</p>
        }
    }
</div>
