@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BlogContentDTO

<form asp-action="InsertBlog" method="post">
    <input asp-for="Title"/>
    <input asp-for="Content"/>
    <select asp-for="CategoryId" asp-items="@ViewBag.CategoryList"></select>
    <button type="submit">EKle</button>
</form>