@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<a class="btn btn-outline-primary" asp-controller="Blog" asp-action="Insert"> New Blog</a>

<p>Use this page to detail your site's privacy policy.</p>
