@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CategoryDTO
<form asp-action="Insert" method="post" class="p-4 border rounded shadow-sm bg-light">
    <h3 class="text-center mb-4">Add Category</h3>

    <div class="mb-3">
        <label for="CategoryName" class="form-label">Category Name</label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="CategoryDescription" class="form-label">Category Description</label>
        <input asp-for="CategoryDescription" class="form-control" />
        <span asp-validation-for="CategoryDescription" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Insert</button>
    </div>
</form>
