@model AuthourDetailModel
 

@if (Model != null)
{
    <h1>Author Detail</h1>
    <p>Adı: @Model.Name</p>
    <p>Adı: @Model.SurName</p>
    <p>Adı: @Model.ProfilePicture</p>
    <p>Adı: @Model.Description</p>
   
}
else
{
    <p>Yazar bulunamadı.</p>
}


