<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogAppExample.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogAppExample.WEB.styles.css" asp-append-version="true" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BlogAppExample.WEB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a class="nav-link nav-item text-dark" asp-area="" asp-controller="Home" asp-action="Index">Blog List</a>
                        <a class="nav-link nav-item text-dark" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        <a class="nav-link nav-item text-dark" asp-area="" asp-controller="Category" asp-action="CategoryList">Category List</a>
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link nav-item text-dark" asp-area="" asp-controller="Category" asp-action="Insert">Category Ekle</a>

                            }
                        }
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link nav-item text-dark" asp-area="" asp-controller="Blog" asp-action="Insert">Blog Ekle</a>
                            }
                        }
                        
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link nav-item text-dark" asp-area="" asp-controller="User" asp-action="UpdateUser">Kullanıcı Güncelle</a>
                                <a class="nav-link nav-item text-dark" asp-area="" asp-controller="User" asp-action="Logout">Çıkış Yap</a>

                            }
                            else
                            {
                                <a class="nav-link nav-item text-dark" asp-area="" asp-controller="User" asp-action="Register">Kayıt Ol</a>
                                <a class="nav-link nav-item text-dark" asp-area="" asp-controller="User" asp-action="Login">Giriş Yap</a>
                            }
                        }
                    </div>
                </div>
            </nav>
            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                       
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
